name: Build and publish

on: push

jobs:
  build_pages:
    name: Publish Edition as GitHub Pages Website
    runs-on: ubuntu-latest
    steps:
    - name: Perform Checkout
      uses: actions/checkout@v3
    - name: xslt
      run: |
        apt-get update && apt-get install openjdk-11-jre-headless -y --no-install-recommend
        ./dl_saxon_and_transform.sh
    - name: pip
      run: pip install -r requirements.txt
    - name: build
      run: ./build.sh
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{secrets.GITHUB_TOKEN}}
        publish_dir: ./html